<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>Global Call to Action can be edited in <a href="{{ url('globals/globalContent') }}">Globals → Global Content → Call to Action</a>.</p>
  </blockquote>
</div>

