<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>Paste custom schema JSON code here if you can't achieve what you want with SEO Settings or <a href="{{ url('seomatic/content') }}">Content SEO</a>.</p>
    <p>Remember to include the full code, including the <code>&lt;script&gt;</code> tags.</p>
  </blockquote>
</div>
