<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>If no hero image is added here, the system will check for an image in parent entries (if enabled), and finally fall back to the global placeholder image set in <a href="{{ url('globals/siteConfiguration#tab05-placeholders') }}">Globals → Global Content → Placeholders</a>.</p>
  </blockquote>
</div>
