<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>Tip: Section-wide SEO settings can be configured in <a href="{{ url('seomatic/content') }}">SEO → Content SEO</a>.</p>
  </blockquote>
</div>
