<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>Testimonials can be edited in <a href="{{ url('entries/testimonials') }}">Entries → Testimonials</a>.</p>
  </blockquote>
</div>
