<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>The Testimonials block can be edited in <a href="{{ url('globals/globalContent#tab06-testimonials') }}">Globals → Global Content → Testimonials</a>.</p>
  </blockquote>
</div>
