<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>Image layout settings can be edited <a href="{{ url('globals/siteConfig#tab03-content-blocks') }}">Globals → Site Config → Content Blocks</a>.</p>
  </blockquote>
</div>
