<div class="readable">
  <blockquote class="note tip dismissible">
    {# <button type="button" class="tip-dismiss-btn" title="Dismiss" aria-label="Dismiss" data-icon="remove"></button> #}
    <p>USPs can be edited in <a href="{{ url('globals/globalContent#tab04-us-ps') }}">Globals → Global Content → USPs</a>.</p>
  </blockquote>
</div>
