/* LQ Slider Content Block - structural layout only */
@layer components {

  /* LQ Slider */
  .lq-slider-wrapper {
    @apply relative;
  }
  .lq-slider {
    @apply relative;
    @apply flex;
    @apply md:justify-center;
    @apply gap-6 lg:gap-8;
    @apply 2xl:mr-6;
    @apply px-6 md:pr-0;

    .lq-slider-item {
      @apply w-full snap-center;
    }
    &.is-carousel,
    &.mobile-carousel {
      @apply snap-x snap-mandatory scroll-smooth overflow-x-scroll overflow-y-hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
     
      .lq-slider-item {
        @apply snap-center shrink-0 basis-[95%] md:basis-[calc(33.3333%-1.5rem)];
        &:first-child {
          @apply pl-0;
        }
      }
      &.desktop-fullwidth {
        @apply overflow-scroll;
        .lq-slider-item {
          @apply md:basis-full;
        }
      }
    }
    &.escape-padding {
      @apply md:w-full;
      @apply -mx-6 md:mx-0;
      @apply md:pl-0;
    }
    &.mobile-only:not(.desktop-grid) {
      @apply md:snap-none md:grid md:grid-cols-2 lg:grid-flow-col lg:auto-cols-fr md:gap-8;
    }
  }
  .lq-slider-overflow-right {
    @apply relative px-6;
    &:not(.glider) {
      @apply grid grid-flow-col auto-cols-[calc(100%-1.5rem)] md:auto-cols-[33.333%];
      @apply snap-x snap-mandatory scroll-smooth overflow-x-scroll scroll-pl-6;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .lq-slider-controls {
    @apply absolute top-1/2 -translate-y-1/2;
    @apply hidden md:flex justify-between;
    @apply w-full;
  }
  .lq-slider-prev,
  .lq-slider-next {
    @apply absolute top-1/2 -translate-y-1/2  z-10;
    &.disabled {
      @apply opacity-40 cursor-not-allowed;
    }
  }
  .lq-slider-prev {
    @apply -left-4;
  }
  .lq-slider-next {
    @apply -right-4;
  }

}